<h1>AjaxApp</h1>
<%= form_with url:  "/posts", method: :post,id: "form" do |form| %>
<%# <%= link_to "新規投稿", "/posts/new" %>
  <%# <%= form.text_field :content %>
<%# contentを取得するために、index.html.erbに,id:"content"を追記 %>
  <%= form.text_field :content  , id: "content" %>

  <%= form.submit '投稿する' , id: "submit" %>
<% end %>

<div id="list">
</div>
<% @posts.each do |post| %>
<%# data-idとdata-checkのカスタムデータ属性を追加 %>
  <div class="post" data-id=<%= post.id %> data-check=<%= post.checked %>>
    <div class="post-date">
    投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
    </div>
  </div>
<% end %>